
<div>
    <h2>Post Details</h2>
  </div>
<div *ngIf="postData" class="list">


  <form [formGroup]="postForm">
    <div class="form-group top">
      <span class="list-title">Title : </span>
      <input type="text" class="t1" formControlName="title" readonly>
    </div>
    <div class="form-group top">
      <span class class="list-title">Sub Title :</span>
      <input type="text" class="s1" formControlName="subtitle" readonly>
    </div>

    <div class="form-group top">
      <span class class="list-title">Post Type :</span>
      <input type="text" class="ptype" formControlName="typ" readonly>
    </div>
    <div class="form-group top">
      <label class="list-title">Description : </label>
      <textarea class="desc" cols="56" rows="5" formControlName="descp" readonly></textarea>
    </div>
  </form>

</div>

<div>
  <a routerLink="/post-list">Post List</a>
</div>